<p-splitter layout="horizontal">

  <ng-template pTemplate>

    <!-- VER CLIENTES -->
    <p-card>
      <ng-template pTemplate="header">
        <h1>Clientes</h1>
      </ng-template>
      <table>
            <tr>
                <th>Codigo de cliente</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Empresa</th>
                <th>Puesto</th>
                <th>Código postal</th>
                <th>Provincia</th>
                <th>Telefono</th>
                <th>Fecha de nacimiento</th>
            </tr>
            <tr *ngFor="let item of this.servicio.clientes let i = index">
                <th>{{item.codCliente}}</th>
                <th>{{item.nombre}}</th>
                <th>{{item.apellidos}}</th>
                <th>{{item.empresa}}</th>
                <th>{{item.puesto}}</th>
                <th>{{item.codigoPostal}}</th>
                <th>{{item.provincia}}</th>
                <th>{{item.telefono}}</th>
                <th>{{item.fechaNacimiento| date: 'yyyy-MM-dd'}}</th>
                <th><p-button icon="pi pi-delete" (onClick)="Delete(item)">Delete</p-button></th>
            </tr>
      </table>
  </p-card>
  </ng-template>
  <ng-template pTemplate>

    <!--AÑADIR Cliente-->
    <p-card>
      <ng-template pTemplate="header">
        <h1>Clientes</h1>
      </ng-template>
      <form (ngSubmit)="agregarClientes()" >
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                    <h4 class="p-inputgroup-addon">Código de cliente</h4>
                    <input type="number" name="codCliente" placeholder="Código del cliente" [(ngModel)]="this.clienteNuevo.codCliente">
                    <h4 class="p-inputgroup-addon">Nombre</h4>
                    <input type="text" name="Nombre" placeholder="Nombre" [(ngModel)]="this.clienteNuevo.nombre">
                  </div>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                  <h4 class="p-inputgroup-addon">Apellidos</h4>
                    <input type="text" name="Descripcion" placeholder="Descripción" [(ngModel)]="this.clienteNuevo.apellidos">
                    <h4 class="p-inputgroup-addon">Empresa</h4>
                    <input type="text" name="empresa" placeholder="Empresa" [(ngModel)]="this.clienteNuevo.empresa">
                  </div>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                  <h4 class="p-inputgroup-addon">Puesto</h4>
                    <input type="text" name="puesto" placeholder="Puesto" [(ngModel)]="this.clienteNuevo.puesto">
                    <h4 class="p-inputgroup-addon">Código postal</h4>
                    <input type="number" name="codigoPostal" placeholder="Código postal" [(ngModel)]="this.clienteNuevo.codigoPostal">
                  </div>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                  <h4 class="p-inputgroup-addon">Provincia</h4>
                    <input type="text" name="provincia" placeholder="Puesto" [(ngModel)]="this.clienteNuevo.provincia">
                    <h4 class="p-inputgroup-addon">Teléfono</h4>
                    <input type="number" name="telefono" placeholder="Telefono" [(ngModel)]="this.clienteNuevo.telefono">
                  </div>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                  <h4 class="p-inputgroup-addon">Fecha de nacimiento</h4>
                    <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="this.clienteNuevo.fechaNacimiento">
                  </div>
            </div>
          </div>
          <div class="p-inputgroup-addon">
            <p-button icon="pi pi-check" type="submit">Insertar/Actualizar</p-button>
          </div>
    </form>
  </p-card>
  </ng-template>
</p-splitter>
