<p-splitter layout="horizontal">

  <ng-template pTemplate>

    <!-- VER ARTICULOS -->
    <p-card>
      <ng-template pTemplate="header">
        <h1>Articulos</h1>
      </ng-template>
      <table>
        <tr>
            <th>Codigo cliente</th>
            <th>Codigo articulo</th>
            <th>fecha</th>

        </tr>
        <tr *ngFor="let item of this.servicio.compras; let i = index">
            <th>{{item.cliente.codCliente}}</th>
            <th>{{item.articulo.codArticulo}}</th>
            <th>{{item.fecha}}</th>
            <th><p-button icon="pi pi-delete" (onClick)="Delete(item)"></p-button></th>
        </tr>
  </table>
  </p-card>
  </ng-template>
  <ng-template pTemplate>

    <!--AÑADIR ARTICULO-->
    <p-card>
      <ng-template pTemplate="header">
        <h1>Compra</h1>
      </ng-template>
      <form (ngSubmit)="agregarCompra()" >
          <div class="grid p-fluid">
            <div class="col">
              <h4 class="p-inputgroup-addon">Clientes</h4>
              <p-dropdown [options]="this.servicio.clientes" [(ngModel)]="this.selectedClient" optionLabel="nombre"></p-dropdown>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
              <h4 class="p-inputgroup-addon">Articulos</h4>
              <p-dropdown [options]="this.servicio.articulos" [(ngModel)]="this.selectedArticulo" optionLabel="Nombre"></p-dropdown>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col">
                <div class="p-inputgroup-addon">
                  <h4 class="p-inputgroup-addon">Fecha</h4>
                  <input type="date" name="fecha" placeholder="Fecha" [(ngModel)]="this.fecha">
                </div>
            </div>
          </div>
          <div class="p-inputgroup-addon">
            <p-button icon="pi pi-check" type="submit"></p-button>
          </div>
    </form>
  </p-card>
  </ng-template>
</p-splitter>
