html, body{
  margin: 10px;
  background-color: var(--surface-b);
  font-family: var(--font-family);
}

.text-layout{
  color: var(--text-color);
}

.p-splitter{
  margin-top: 10px;
}

h1{
  margin-left: 50px;
}
